.title_color{
	color: #F28585;
}

body{
	color: black;
	font-size: 20px;
	font-family: times new roman;
}

.box{
	height: 127px;
	width: 342px;
	padding: 5px;
	margin: 10px;
	border: 5px solid #FFA447;
}

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}

nav{
	background: #FFA447;
	height: 80px;
	width: 100%;
}

label.logo{
	color: white;
	font-size: 36px;
	line-height: 80px;
	padding: 0 40px;
	font-weight: bold;
}

nav ul{
	float: right;
	margin-right: 60px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color: #FDEDEE;
	font-size: 16px;
	padding: 5px 10px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
}

a.active,a:hover{
	background: #FFFC9B;
	transition: .5s;
}

.checkbtn{
	font-size: 20px;
	color: #FDEDEE;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: block;
}

#check{
	display: none;
	
}

@media (max-width: 1030px){
	label.logo{
		font-size: 34px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 14px;
	}
}

@media (max-width: 1000px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #B7E5B4;
		top: 80px;
		left: 0;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background: none;
		color: pink;
	}
	#check:checked ~ ul{
		left: 0;
	}
}


<!-- can use hsl and rgb to set transparency, look at second video-->







